<!DOCTYPE html>
<html>
<head>
<title>Cursa de Bellvitge</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../css/estilos.css">
<script src="../js/code.js"></script>
</head>
<body>  
<header>
    <div class="navegador">
        <nav>
            <ul>
            <li><a href="#">Inici</a></li>
            <li><a href="#">Classificacions</a></li>
            <li><a href="#">Inscripcions</a></li>
            <li><a href="#">Noticies</a></li>
            <li><a href="#">Galeria</a></li>
            </ul>
        </nav>
    </div>

    <div class="titulo">
        <h2>Cursa El Prat de Llobregat</h2>
        <div >
            <button class="btn btn-borde" type="button">INSCRIBIRSE</button>
        </div>
    </div>
</header>
    <div id="contador"></div>      
    </div>
    <div class="noticia">
        <h2>NOTICIAS</h2>
    </div>
    <div class="row">
        <div class="column">
          <h2>Kilian debuta con 29:59 en los 10 km en ruta donde Jakob Ingebrigtsen se hundió</h2>
          <p>Kilian Jornet, que había realizado buenos entrenamientos sobre asfalto en las últimas semanas aunque llegaba con algunas molestias físicas en una pierna.</p>
          <img src="../img/1.jpg">
        </div>
        
        <div class="column">
          <h2>El ugandés Kiplimo, campeón del mundo de medio maratón con sólo 19 años</h2>
          <p>Con tan sólo 19 años, en su segundo medio maratón, el ugandés Jacob Kiplimo le dio el primer oro individual a su país en un Mundial de medio maratón al imponerse con 58:49.</p>
          <img src="../img/2.jpg">
        </div>
        
        <div class="column">
          <h2>Kilian Jornet debuta en un 10k sobre asfalto en el que estará también Jakob Ingebrigtsen</h2>
          <p>En esta prueba, considerada la más rápida de Noruega, el menor de los Ingebrigtsen realizó la mejor marca europea del año en la distancia con 27:54.</p>
          <img src="../img/3.jpg">
        </div>
      </div>
<footer>
    <p>Para mas informacion llame al 691439735</p>
</footer>
</body>
</html>